 body {
      background: #000;
     color:#fff;
     /*position: absolute;*/

   }
 ul{
     list-style: none;
     margin: 0;
     padding: 0;
 }
 .box{
     width:100%;
     height:100%;
     position: absolute;
 }
 .test1{
     width: 1200px;
     height:500px;
     border: #ddd solid 1px;
     position: absolute;
     left:0;top:0;right:0; bottom: 0;
     margin:  auto;
     background: #fff;
     overflow: hidden;
 }
 .test1 ul{
     height:490px;
     border: 5px solid #fff;
 }

 li{
     width:101px;
     height: 100%;
     float: left;
     /*background: #009BDB;*/
     /*background: url("../images/first/bg2.jpg");*/
     background-size: cover;
     overflow: hidden;
 }
 .flod{
     width:582px;
     transition:width 0s ease 0s;
     height: 100%;
     float: left;
     /*background: #009BDB;*/
     /*background: url("../images/first/bg1.jpg");*/
     background-size: cover;
     overflow: hidden;
 }
 .left{
     width: 100px;
     border-right: 1px solid #fff;
     /*background: pink;*/
     float: left;height: 100%;
 }
 .circle{
     width: 70px;
     height:70px;
     border-radius: 50%;
     background: #fff;
     z-index:4;
     margin-left: -20px;
     margin-top: -20px;
     /*color:pink;*/
     font-size: 30px;
     text-align: center;
     line-height: 80px;
 }
 .left p{
     width:20px;
     margin: 0;
     margin-left: 40px;
     margin-bottom: 5px;
     font-size: 20px;
     word-wrap: break-word;
 }
 li:nth-child(4) .left p,li:nth-child(5) .left p,li:nth-child(6) .left p{
     color:#000;
 }
 li:nth-child(4) .left .iconfont,li:nth-child(5) .left .iconfont,li:nth-child(6) .left .iconfont{
     color:#000;
 }
 .left img{
     width:100%;
     height:auto;
     margin-top: 50px;
 }

 .right{
     width: 481px;
     height:100%;
     /*background: red;*/
     float: left;
     /*background: url("../images/first/right1.png");*/
     /*background-size: cover;*/
 }